/* Variables */

/* Colors */
$primary-clr: #00dbb3;
$dark-primary-clr: #04aa8c;
$light-primary-clr: #8afbe6;
$secondary-bg: #f1f1f1;
$blue: #0080ff;
$red: #ff2020;
$yellow: #ffc71f;
$green: #55fa1d;
$border-clr: #d1d1d1;
$black-shadow: rgba(0, 0, 0, 0.25);

/* Font */
$main-fs: 1.5rem;
$md-fs: $main-fs * 1.5;
$lg-fs: $md-fs * 1.5;
$main-font: "Poppins", sans-serif;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 2;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$spacer-xlg: $spacer-lg * 2;

/* Borders */
$br: 35px;
